.contentcard {
    padding: 20px 50px;
    border-top: 2px solid #49fb35;
    & h2 {
        border-bottom: 1px solid;
        color: lightgray;
        font-family: "Special Elite";
        font-weight: 200;
    }
    &-post {
        // padding: 0 0;
        font-family: Raleway;
        &-link {
            text-decoration: none;
            & h3 {
                color: dodgerblue;
                font-style: italic;
            }
        }
        
        & hr {
            border: .5px solid dodgerblue;
        }

        & p, small {
            color: lightgray;
        }
    }
}

@media only screen and (max-width: 500px) {
    .contentcard {
        padding: 20px 20px;
    }
}