.contentcard {
    // background: #0C0C05;
    padding: 20px 50px;
    border: 1px solid #49fb35;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    & h2 {
        border-bottom: 1px solid;
        color: lightgray;
        font-family: "Special Elite";
        font-weight: 200;
    }
    &-post {
        padding: 0 50px;
        font-family: Raleway;
        & h3 {
            color: white;
            font-weight: 200;
        }
        & hr {
            border: .5px solid dodgerblue;
        }

        & p, small {
            color: lightgray;
        }
    }
}